#config database
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_HOST=
DB_DATABASE=


STATIC_MEDIA=static

SAVE_MODEL=app/service/pretrain_model

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=
MAIL_FROM_NAME=